// Specific CSS for your home-page

// .profile {
//   height: 70vh;
//   width: 100%;
//   background-image: url(profile/ciprian);
//   background-size: cover;
//   background-position: center;
// }

// .hey-there {
//   float: right;
// }

// .poster {
//   height: 100%;
//   width: 100%;
//   background-image: url(background/background01.jpeg);
// }

.background-container {
  background-color: #333;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  height: 100vh;

  .sidebar {
    width: 20%;
    height: 100%;
    background-color: red;
    color: #fff;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
  }

  .profile-picture {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

  .scaled-profile-photo {
    // max-width: 20%;
    width: 300px;
    height: 400px;
    object-fit: cover;
    display: flex;
  }
}
