<%# <div class="poster">
  <div class="profile">
    <div class="hey-there">
      <p>Hey there, I'm</p>
      <p>Ciprian CRISAN</p>
    </div>
  </div>
  <div class="container">
    <div class="about-me-text">
      <h1>About me</h1>
      <p>
        As a junior full-stack web developer with a background in mechanical engineering, I am passionate about using technology to make a positive impact in the world. Being a sport and a nature enthusiast, the human-nature relationship represents the starting point of my every project. Through innovative solutions, my goal is to contribute meaningfully to society and make a positive impact on people's life around me.
      </p>
    </div>
    <div class="My experience">
      <h1>My experience</h1>
      <p>
        In October 2022 I took the leap and embarked on the Le Wagon’s Bootcamp adventure. For 6 intense months, while having a full time job, I spent my evenings and weekends studying, using all my human resources and balancing everything in my life to reach my goal of becoming a full-stack web developer. And I did it, what a thrill this is.
        During this amazing boot camp, I acquired new foundational skills like: Ruby, Ruby On Rails, MVC, PostgreSQL, HTML, CSS, JavaScript, Heroku, GitHub, how to create a project from scratch, how to lead a web development project and many more.
        A big thank you to my Le Wagon community, to all the teachers that were there to support us on every step, and to all my classmates that made this journey an unforgettable one.
        Kudos to my coding mates Stephan Knorn, Lorenzo Bertolino and Fahad Jibran, with whom I worked together to bring to life a wonderful project idea which is AllShare.
      </p>
    </div>
  </div>
</div> %>

<%# <div class="background-container">
  <div class="sidebar">
    <div class="personal-info">
      <div class="name">
        <h1>Ciprian CRISAN</h1>
      </div>
      <div class="job-title">
        <p>Tech Pioneer</p>
      </div>
    </div>
    <div class="menu">
      <ul>
        <li><a href="#">Introduction</a></li>
        <li><a href="#">About me</a></li>
        <li><a href="#">Experience</a></li>
        <li><a href="#">Skills</a></li>
        <li><a href="#">Projects</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
    </div>
    <div class="social-media-logos">
      <ul>
        <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
        <li><a href="#"><i class="fab fa-github"></i></a></li>
        <li><a href="#"><i class="fas fa-envelope"></i></a></li>
      </ul>
    </div>
  </div>
  <div class="content">
    <div class="profile-picture">
      <%= image_tag('profile/profile_photo.jpg', class: 'scaled-profile-photo') %>
    <%# </div>
    <div class="main-content">
      <section class="fixed-buttons">
        <a href="#">DOWNLOAD MY CV</a>
        <button id="getInTouchButton" class="contact-button">GET IN TOUCH</button>
      </section>
      <section class="introduction">
        <h1>Hello! I am Ciprian, a Tech Pioneer on a quest to change the world!</h1>
        <p>Lorem ipsum Lorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsum</p>
      </section>
    </div>
  </div>
</div> %>

<div class="background-container">
  <aside class="sidebar">
    <section class="name">
      <h1>Ciprian Crisan</h1>
      <h2>Tech Pioneer</h2>
    </section>
    <nav>
      <ul>
        <li><a href="#">INTRODUCTION</a></li>
        <li><a href="#">ABOUT ME</a></li>
        <li><a href="#">EXPERIENCE</a></li>
        <li><a href="#">SKILLS</a></li>
        <li><a href="#">PROJECTS</a></li>
        <li><a href="#">CONTACT</a></li>
      </ul>
    </nav>
    <section class="social-media-logos">
      <ul>
        <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
        <li><a href="#"><i class="fab fa-github"></i></a></li>
        <li><a href="#"><i class="fas fa-envelope"></i></a></li>
      </ul>
    </section>
  </aside>

  <main class="content">
      <header>
          <button class="btn-download" role="button">DOWNLOAD MY CV</button>
          <button class="btn-contact" role="button">GET IN TOUCH</button>
      </header>
      <div class="main-content">
        <section class="profile-pic">
          <%= image_tag('profile/profile_photo.jpg', class: 'scaled-profile-photo', alt: "Ciprian's profile picture") %>
        </section>
        <section class="description">
            <h1>Hello! I am Tom,</h1>
            <h2>a Tech Pioneer on a quest to change the world!</h2>
            <p>Lorem Ipsum is simply dummy text...</p>
        </section>
      </div>
  </main>
</div>
